[notifications]
min = 3.9
wsp_number = +51996666666
[database]
host = 0.0.0.0
db = database
user = user
pass = password
[twilio]
sid    = xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
token  = xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
[redis]
host = 127.0.0.1
auth = redispassword